{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}

{% if product is empty %}
    <p>Aucun produit disponible.</p>
{% else %}
    <ul>
        {% for item in product %}
            <li>{{ item.name }} - {{ item.price }} €</li>
        {% endfor %}
    </ul>
{% endif %}

{# <h1>{{ product.name }}</h1>
<p>Prix : {{ product.price }} €</p>
<p>Description : {{ product.description }}</p> #}


{% endblock %}